<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Welcome to our web shop!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h2>Welcome to our web shop!</h2>

<form name="orderForm" action="order" method="POST">
  <table>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
    </tr>

    <tr th:each="instance : ${orderList}">
      <td>
        <input contenteditable="false" name="productNames[]" readonly="readonly"
               type="text"
               th:value="${instance.key}" id="productNameId"  />
      </td>
      <td>
        <input name="quantities[]" type="number" th:value="${instance.value}"/>
      </td>
    </tr>
  </table>
  <input id="order" name="order" type="submit" value="order"/><br/>

  Original Price:<input type="number" th:value="${price.originalPrice}" name="originalPriceValue" id="originalPriceValueId" readonly="readonly"/>
  Reduced Price in ft:<input type="number" th:value="${price.reducedPrice}" name="reducedPriceValue" id="reducedPriceValueId" readonly="readonly"/>
  Reduced Price in euro:<input th:value="${price.reducedPriceInEuro}" name="reducedPriceInEuroValue" id="reducedPriceInEuroValueId" readonly="readonly" />
  Type of sale:<input th:value="${price.typeOfSale}" name="typeOfSaleValue" id="typeOfSaleValueId" readonly="readonly"/>

</form>

</body>
</html>